DEEPGRAM_API_KEY=your_deepgram_api_key
OPENAI_API_KEY=your_openai_api_key
CARTESIA_API_KEY=your_cartesia_api_key
JWT_SECRET=
REDIS_URL=redis://localhost:6379
MAX_CONCURRENT_SESSIONS=2

# OpenTelemetry / Langfuse (optional)
ENABLE_TRACING=false    # Set it to true if you want to see langfuse traces
OTEL_EXPORTER_OTLP_ENDPOINT=https://cloud.langfuse.com/api/public/otel
OTEL_EXPORTER_OTLP_HEADERS=Authorization=Basic%20<base64(publicKey:secretKey)>